.fatura {
  text-align: center;
  border: 3px solid black;
  width: 100%;
  padding: 20px;
  margin: 10px 0;
  margin-top: none;
  min-width: 250px;
  max-width: 350px;
}

.fatura h2 {
  margin: 0;
}
