<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="app.component.scss" />
  </head>
  <body>
    <app-top-bar></app-top-bar>
    <div class="content">
      <div class="right-side">
        <app-saldo></app-saldo>
        <app-fatura></app-fatura>
      </div>
    </div>
  </body>
</html>
