.top-bar {
  display: flex;
  align-items: center;
  height: 70px;
  background: rgb(6, 231, 117);
  border-radius: 5px;
  padding: 0 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.top-bar img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition: filter 0.3s, opacity 0.3s;
  border: 1px solid;
  border-color: black;
}

.top-bar img:hover {
  filter: grayscale(100%);
  opacity: 0.8;
}

.right-content {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 20px;
}

.right-content a {
  text-decoration: none;
  color: grey;
  font-size: 1em;
  transition: color 0.3s;
}

.right-content a:hover {
  color: darkgreen;
}

.right-content h1 {
  margin: 0;
}
